<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-brand" style="font-weight: bold">Handyman Bob<br>
      <p class="text-center text-muted" style="font-weight: normal">(999)999-1234</p>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to root_path do %>
          <i class="glyphicon glyphicon-home"></i>
        <% end %>
      </li>
      <li>
        <%= link_to new_job_path do %>
          <i class="glyphicon glyphicon-wrench"></i>
        <% end %>
      </li>
      <li>
        <%= link_to about_path do %>
          <i class="glyphicon glyphicon-question-sign"></i>
        <% end %>
      </li>
    </ul>
    <ul id="right" class="nav navbar-nav navbar-right">
      <% if current_user.try(:admin) %>
        <li><%= link_to "View Jobs", jobs_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% end %>
      <% if !user_signed_in? %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>

<style type="text/css">
  i {
    font-size: 1.8em;
  }
  a {
    color: black;
  }
  #right {
    padding-right: 15px;
  }

</style>